{% assign cols = include.cols | default: "one-quarter" %}
{% assign sort_by = include.sort_by | default: "name" %}
{% assign source = include.source %}
{% assign style = include.style | default: "card" %}

{% assign sort_natural = true %}
{% if include.sort_natural == false %}
    {% assign sort_natural = false %}
{% endif %}

{% assign sort_reverse = false %}
{% if include.sort_reverse == true %}
    {% assign sort_reverse = true %}
{% endif %}

{% if source and source.size > 0 %}
    {% assign collaborations = "" | split: "" %}
    {% for item in source %}
        {% if item.id %}
            {% assign match = site.data.collaborations | where: "id", item.id | first %}
        {% else %}
            {% assign match = site.data.collaborations | where: "id", item | first %}
        {% endif %}
        {% if match %}
            {% assign collaborations = collaborations | push: match %}
        {% endif %}
    {% endfor %}

    {% if sort != "none" %}
        {% if sort_natural %}
            {% assign collaborations = collaborations | sort_natural: sort_by %}
        {% else %}
            {% assign collaborations = collaborations | sort: sort_by %}
        {% endif %}
        {% if sort_reverse %}
            {% assign collaborations = collaborations | reverse %}
        {% endif %}
    {% endif %}

    {% if collaborations.size > 0 %}
        {% if style == "card" %}
            <div class="columns is-multiline">
        {% elsif style == "list" %}
            <ul class="collaborations">
        {% endif %}

        {% for collaboration in collaborations %}
            {% assign url = nil %}
            {% if collaboration.url %}
                {% if site.entity_type == "unit" %}
                    {% if collaboration.url.unit %}
                        {% assign url = collaboration.url.unit %}
                    {% elsif collaboration.url.center %}
                        {% assign url = collaboration.url.center | prepend: site.organization.center.website %}
                    {% elsif collaboration.url.external %}
                        {% assign url = collaboration.url.external %}
                    {% endif %}
                {% elsif site.entity_type == "center" %}
                    {% if collaboration.url.center %}
                        {% assign url = collaboration.url.center %}
                    {% elsif collaboration.url.external %}
                        {% assign url = collaboration.url.external %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if style == "card" %}
                <div class="column collaboration is-full-mobile is-half-tablet is-{{ cols }}-desktop">
                    <a href="{{ url }}">
                        <div class="card enterprise">
                            <div class="card-image">
                                <figure class="image">
                                    {% if collaboration.logo %}
                                        {% capture collaborationLogo %}
                                            {% include collection-logo.html element=collaboration collection="collaboration" %}
                                        {% endcapture %}
                                        {% if collaborationLogo contains ".svg" %}
                                            <svg>
                                                <use href="{{ collaborationLogo }}"/>
                                            </svg>
                                        {% else %}
                                            <img src="{{ collaborationLogo }}" alt="{{ collaboration.name }}">
                                        {% endif %}
                                    {% else %}
                                        <img class="default" alt="{{ collaboration.name }}">
                                    {% endif %}
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">{{ collaboration.name }}</p>
                                {% if collaboration.nameAddon %}
                                    <p class="subtitle is-4 addon"><small>{{ collaboration.nameAddon }}</small></p>
                                {% endif %}
                                {% if collaboration.description %}
                                    <hr />
                                    <p class="subtitle is-4 addon"><small>{{ collaboration.description }}</small></p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% elsif style == "list" %}
                <li class="item collaboration">
                    <a href="{{ url }}">
                        <b>{{ collaboration.name }}</b>
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if style == "card" %}
            </div>
        {% elsif style == "list" %}
            </ul>
        {% endif %}
    {% endif %}
{% endif %}