{% assign sort_by = include.sort_by | default: "startDate" %}
{% assign source = include.source %}

{% assign sort_natural = false %}
{% if include.sort_natural == true %}
    {% assign sort_natural = true %}
{% endif %}

{% assign sort_reverse = true %}
{% if include.sort_reverse == false %}
    {% assign sort_reverse = false %}
{% endif %}

{% if source and source.size > 0 %}
    {% assign events = "" | split: "" %}
    {% for item in source %}
        {% if item.id %}
            {% assign match = site.data.events | where: "id", item.id | first %}
        {% else %}
            {% assign match = site.data.events | where: "id", item | first %}
        {% endif %}
        {% if match %}
            {% assign events = events | push: match %}
        {% endif %}
    {% endfor %}

    {% if sort != "none" %}
        {% if sort_natural %}
            {% assign events = events | sort_natural: sort_by %}
        {% else %}
            {% assign events = events | sort: sort_by %}
        {% endif %}
        {% if sort_reverse %}
            {% assign events = events | reverse %}
        {% endif %}
    {% endif %}   

    <div class="events">
        <ul>
            {%- for event in events -%}
                <li class="item event">
                    <a href="{{ event.url }}"><b>{{ event.name }}</b></a>{% if event.acronym %} ({{ event.acronym }}){% endif %}, {% if event.startDate != event.endDate %}from {{ event.startDate | date: "%B %e, %Y" }} to {{ event.endDate | date: "%B %e, %Y" }}{% else %}{{ event.startDate | date: "%B %e, %Y" }}{% endif %}
                    {% if event.description %}
                    <ul class="description">
                        <li>{{ event.description }}</li>
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}