@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";

@import "functions";
@import "settings/variables";
@import "base/base";
@import "components/cards";
@import "components/d3graph";
@import "components/footer";
@import "components/hero";
@import "components/navbar";
@import "components/personal-pages";
@import "components/tables";
@import "components/toc";
@import "components/tooltips";
@import "components/typography";
@import "components/utilities";

@import "../node_modules/bulma-block-list/src/block-list.scss";

.gh-sponsor {
  color: #ea4aaa;
}