$primary-h: hue($primary);
$primary-s: saturation($primary);
$primary-l: lightness($primary);

$dark-mode-desaturation-amount: 15%;
$dark-mode-lighten-amount: -20%;
$dark-mode-min-lightness: 15%;

@function get-dark-mode-hsl-components(
  $light-color,
  $desaturation-amount: $dark-mode-desaturation-amount,
  $lighten-amount: $dark-mode-lighten-amount,
  $min-lightness: $dark-mode-min-lightness
) {
  $h: hue($light-color);
  $s: saturation($light-color);
  $l: lightness($light-color);

  $new-s: max(0%, $s - $desaturation-amount);
  $new-l-initial: min(100%, $l + $lighten-amount);
  $new-l: max($min-lightness, $new-l-initial);

  @return (
    h: $h,
    s: $new-s,
    l: $new-l
  );
}

$primary-dark-hsl-components: get-dark-mode-hsl-components($primary);
$primary-dark-h: map-get($primary-dark-hsl-components, h);
$primary-dark-s: map-get($primary-dark-hsl-components, s);
$primary-dark-l: map-get($primary-dark-hsl-components, l);
$primary-dark: hsl($primary-dark-h, $primary-dark-s, $primary-dark-l);

$navbar-separator: darken($primary, 5%);
$navbar-separator-dark: darken($primary-dark, 5%);

$link-color-light: $primary;
$link-color-light-hover: darken($link-color-light, 20%);
$link-color-dark: #2f7fba;
$link-color-dark-hover: lighten($link-color-dark, 20%);

$toc-color-hover-light: lighten($primary, 50%);
$toc-color-hover-dark: darken($primary, 20%);

:root {
  --primary: #{$primary};
  --background-color: #ffffff;
  --bulma-hero-h: #{$primary-h};
  --bulma-hero-s: #{$primary-s};
  --bulma-hero-background-l: #{$primary-l};
  --link-color: #{$link-color-light};
  --link-color-hover: #{$link-color-light-hover};
  --navbar-separator: #{$navbar-separator};
  --text-color: #4a4a4a;
  --toc-color-hover: #{$toc-color-hover-light};
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #{$primary-dark};
    --background-color: hsl(221, 14%, 11%);
    --bulma-hero-h: #{$primary-h};
    --bulma-hero-s: #{$primary-dark-s};
    --bulma-hero-background-l: #{$primary-dark-l};
    --link-color: #{$link-color-dark};
    --link-color-hover: #{$link-color-dark-hover};
    --navbar-separator: #{$navbar-separator-dark};
    --text-color: hsl(220, 16%, 89%);
    --toc-color-hover: #{$toc-color-hover-dark};
  }
}