.affiliation.more+.affiliation.more {
  border-top: 2px solid var(--color-border);
  margin: 1rem 0 0;
  padding: 1rem 0 0;
}

div.filters {
  border: 1px solid #c7c7c7;
  font-size: small;
  margin-bottom: 15px;
  padding: 10px;
}

.filter.filter-tag {
  margin: 2px;
  cursor: pointer;
}

.filter-unselected {
  opacity: 0.3;
}

.tag {
  vertical-align: middle;
}

.tag:not(:last-of-type) {
  margin-right: 1em;
}

/* UNIVERSITY PROJECTS */
.university-projects .university-project:first {
  margin-bottom: 30px;
}

.university-projects .university-project+.university-project {
  border-top: 1px solid var(--color-border);
  margin-top: 30px;
  padding-top: 30px;
}

.university-projects-call+.university-projects-call {
  border-top: 3px solid var(--color-border);
  margin-top: 70px;
  padding-top: 70px;
}

.university-project .description p:not(:last-child) {
  margin-bottom: 5px;
}

.university-project .description {
  margin-bottom: 1em;
}

.university-projects-call-header {
  margin-bottom: 30px;
}

.university-projects-call-text {
  border: 1px solid var(--color-border);
  padding: 10px;
}

.university-project .information {
  border: 1px solid var(--color-border);
  font-size: small;
  margin-bottom: 15px;
  padding: 10px;
}

.university-project .information p:not(:last-child),
.university-project .description p:not(:last-child) {
  margin-bottom: 5px;
}

.university-project .description {
  margin-bottom: 1em;
}

.university-projects-call-header {
  margin-bottom: 30px;
}

.university-projects-call-text {
  border: 1px solid var(--color-border);
  padding: 10px;
}

.university-project .units {
  margin-left: 10px;
}

.dot {
  margin-left: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.dot.dot-green {
  background-color: green;
}

.dot.dot-red {
  background-color: red;
}

.dot.dot-orange {
  background-color: orange;
}

.dot.dot-grey {
  background-color: grey;
}
/* END UNIVERSITY PROJECTS */

.keynote:not(:first-of-type) {
  margin-top: 10px;
  padding-top: 10px;
}

.keynote:not(:last-of-type) {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.keynote .speaker {
  margin-bottom: 20px;
}

.keynote .speaker p {
  margin: 0px;
  font-style: italic;
}

.keynote .abstract,
.keynote .bio {
  margin-bottom: 25px;
}

.keynote .abstract::before {
  content: "Abstract";
  margin-bottom: 1.5rem;
  font-size: 1.3em;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}

.keynote .bio::before {
  content: "Short Bio";
  margin-bottom: 1.5rem;
  font-size: 1.3em;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}