.d3graph-node-circle {
  fill: var(--background-color);
}

.d3graph-node-label {
  fill: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
}

.d3graph-node-icon {
  fill: var(--text-color);
}

.d3graph-connection-line {
  stroke: #999;
  stroke-opacity: 0.5;
}