.hero {
  &.is-primary {
    background-color: hsl(var(--bulma-hero-h), var(--bulma-hero-s), var(--bulma-hero-background-l));

    &.is-bold {
      background-image: linear-gradient(141deg, hsl(calc(var(--bulma-hero-h) - 5deg), calc(var(--bulma-hero-s) + 10%), calc(var(--bulma-hero-background-l) + 5%)) 0%, hsl(var(--bulma-hero-h), var(--bulma-hero-s), var(--bulma-hero-background-l)) 71%, hsl(calc(var(--bulma-hero-h) + 5deg), calc(var(--bulma-hero-s) - 10%), calc(var(--bulma-hero-background-l) - 5%)) 100%);
    }
  }

  .logo {
    margin-right: 20px;
  }

  .hero-body {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .hero-left {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}