---
layout: page
---

{% assign collaborationFromId = site.data.collaborations | where: "id", page.collaboration %}
{% if collaborationFromId.size > 0 %}
    {% assign collaboration = collaborationFromId[0] %}
{% else %}
    {% assign collaboration = nil %}
{% endif %}

<span id="set-title">{{ collaboration.name }}</span>
{% if collaboration.acronym %}<span id="set-subtitle">{{ collaboration.acronym }}</span>{% endif %}

<div class="columns collaboration is-multiline">
    <div class="column overview is-12">
        {% if site.entity_type == "unit" and collaboration.url.center %}
            <div class="notification is-warning">
                <p>A general description is available on the <a href="{{ collaboration.url.center | prepend: site.organization.center.website }}">website of the Center</a>.</p>
            </div>
        {% endif %}
        {% if collaboration.logo %}
            {% capture collaborationLogo %}
                {% include collection-logo.html element=collaboration collection="collaboration" %}
            {% endcapture %}
            {% if collaborationLogo contains ".svg" %}
                <svg class="logo pull-right">
                    <use href="{{ collaborationLogo }}"/>
                </svg>
            {% else %}
                <img class="logo pull-right" src="{{ collaborationLogo }}" />
            {% endif %}
        {% endif %}
        {% if content.size > 1 %}
            <h1 id="title-overview">Overview</h1>
            {{ content }}
        {% endif %}
    </div>

    {% if collaboration.startYear or collaboration.endYear or collaboration.officialUrl %}
        <div class="column details is-12">
            <h1 id="title-details">Details</h1>
            <ul class="no-bullet">
                {% if collaboration.startYear or collaboration.endYear %}<li><b>Period</b>:{% if collaboration.startYear %} from {{ collaboration.startYear }}{% endif %}{% if collaboration.endYear %} until {{ collaboration.endYear }}{% endif %}.</li>{% endif %}
                {% if collaboration.url.external %}<li><b>Website</b>: <a href="{{ collaboration.url.external }}">{{ collaboration.url.external }}</a></li>{% endif %}
            </ul>
        </div>
    {% endif %}

    {% if site.entity_type == "center" and collaboration.url.units %}
        <div class="column units-details is-12">
            <h1 id="title-units-details">Further Details on the Units' Websites</h1>
            {% include list-unit-links.html source=collaboration.url.units %}
        </div>
    {% endif %}
</div>