---
layout: page
---

{% assign toolFromId = site.data.tools | where: "id", page.tool %}
{% if toolFromId.size > 0 %}
    {% assign tool = toolFromId | first %}
{% else %}
    {% assign tool = nil %}
{% endif %}

<span id="set-title">{{ tool.name }}</span>
{% if tool.nameAddon %}
    <span id="set-subtitle">{{ tool.nameAddon }}</span>
{% endif %}

<div class="columns is-multiline">

    <div class="column is-12">
        {% if site.entity_type == "unit" and tool.urlDocumentation.center %}
            <div class="notification is-warning">
                <p>A general description is available on the <a href="{{ tool.urlDocumentation.center | prepend: site.organization.center.website }}">website of the Center</a>.</p>
            </div>
        {% endif %}
        {% if tool.logo %}
            {% capture toolLogo %}
                {% include collection-logo.html element=tool collection="tool" %}
            {% endcapture %}
            {% if toolLogo contains ".svg" %}
                <svg class="logo pull-right">
                    <use href="{{ toolLogo }}"/>
                </svg>
            {% else %}
                <img class="logo pull-right" src="{{ toolLogo }}" />
            {% endif %}
        {% endif %}
        {{ content }}
    </div>

    {% if site.entity_type == "center" and tool.url.units %}
        <div class="column units-details is-12">
            <h1 id="title-units-details">Details on the Units' Websites</h1>
            {% include list-unit-links.html source=tool.urlDocumentation.units %}
        </div>
    {% endif %}
</div>
